        /* Common*/
        body,
        html {
            color: aliceblue;
            margin: 0px;
            padding: 0px;
            position: fixed;
            background: black;
            width: 100%;
            height: 100%;
            font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

        }

        /* Index 样式 */
        #msg {
            font-size: 36px;
            letter-spacing: 1px;
            font-weight: 900;
            position: absolute;
            left: 50%;
            top: 45%;
            cursor: pointer;
            text-shadow: 0 0 10px aliceblue;
            transform: translate(-50%, -50%);
            /* Opera */
            animation: myFont 6s linear 5s infinite alternate;
            /* Firefox: */
            -moz-animation: myFont 6s linear 5s infinite alternate;
            /* Safari 和 Chrome: */
            -webkit-animation: myFont 6s linear 5s infinite alternate;
            /* Opera: */
            -o-animation: myFont 6s linear 5s infinite alternate;
        }

        /* Font  animation*/
        @keyframes myFont {
            0% {
                color: aliceblue;
                text-shadow: 0 0 10px aliceblue;
            }

            25% {
                color: yellow;
                text-shadow: 0 0 10px yellow;
            }

            50% {
                color: blue;
                text-shadow: 0 0 10px blue;
            }

            100% {
                color: green;
                text-shadow: 0 0 10px green;

            }
        }

        /* pic image */
        .pic_body img {
            width: 110px;
            display: inline-block;
            cursor: pointer;
            margin-top: 5px;
        }

        .pic_body img:hover {
            box-shadow: 0 0 10px 0 red;
        }

        .name-msg,
        .pic-msg {
            font-size: 12px;
            color: red;
            display: none;
        }

        /* 头部样式 */
        #head {
            width: 100%;
            height: 50px;
            line-height: 50px;
            /* background-color: #393D49; */
            color: aliceblue;
            display: flex;
            justify-content: space-between;
            padding: 0 25px;
            box-sizing: border-box;
            border-bottom: 2px solid #ffffff;
        }

        .head_img {
            height: 36px;
            border-radius: 50%;
            margin-bottom: 2px;
        }

        /* Content */
        .content {
            background: #f0f8ff;
            width: 760px;
            height: 600px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 4px;
            padding-bottom: 120px;
        }

        .content-body {
            height: 100%;
            padding: 10px 0px 0 10px;
        }

        .content .item {
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
            text-align: left;
            display: flex;
            justify-items: center;
        }

        .content .item img {
            width: 35px;
            border-radius: 4px;
        }

        .content .item .content_right {
            width: 100%;
            padding-left: 10px;
        }

        .content .item .content_right div {
            width: 72%;
            text-align: left;
            display: flex;
            justify-content: flex-start;
        }

        .content .item .content_right div p {
            background-color: #dee2e6;
            word-break: break-all;
            border-radius: 4px;
            line-height: 40px;
            min-width: 15px;
            padding: 0 10px;
        }

        .content .item .content_right span {
            font-size: 12px;
        }

        .content .item .content_right {
            padding-left: 10px;
        }


        .content .item-my {
            padding: 10px;
            box-sizing: border-box;
            text-align: left;
            display: flex;
            justify-content: flex-end;
            position: relative;
        }


        .content .item-my .content_left_head {
            text-align: right;
        }

        .content .item-my .content_left {
            padding-right: 10px;
        }

        .content .item-my .content_left span {
            font-size: 12px;
        }

        .content .item-my .content_left_content {
            text-align: left;
            display: flex;
            justify-content: flex-end;
        }

        .content .item-my .content_left_content p {
            max-width: 470px;
            background-color: #28a745;
            /* 让字母和数字换行 */
            word-break: break-all;
            border-radius: 4px;
            line-height: 40px;
            min-width: 15px;
            padding: 0 10px;
        }

        .content .item-my .content_right img {
            width: 35px;
            border-radius: 4px;
        }

        #send {
            position: relative;
            width: 100%;
            height: 120px;
            position: fixed;
            bottom: 0;
            background-color: #fff;
            padding-bottom: 40px;
            overflow: hidden;
        }

        #msg_info {
            width: 780px;
            height: 100%;
            resize: none;
            outline: none;
            border: none;
            border-top: 2px solid #28a745;
            padding: 5px 12px 0 10px;
            overflow-y: scroll;
        }

        .msg_btn {
            position: absolute;
            bottom: 10px;
            right: 10px;
            width: 24px;
            width: 65px;
            height: 30px;
            border: 0;
            background: #28a745;
            transition: background .4s;
            border-radius: 4px;
            outline: none;
        }

        .msg_btn:hover {
            background: #6eeb8b;
        }

        @media screen and (max-width: 605px) {
            #msg {
                font-size: 16px;
            }
        }